#product_image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#amazon_link {
    display: block;
    width: 30rem;
    height: 25rem;
    margin: auto;
    margin-bottom: 1rem;
}

.ui.header {
    color: #fff;
}

.ui.segment {
    height: 100%;
    border: none;
    z-index: 100;
    background: transparent;
}

#price {
    opacity: 0;
    transition: opacity 500ms ease-out;
    margin-bottom: 4rem;
}

body {
    background: linear-gradient(135deg, red, blue);
}

#backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(135deg, red, blue);
    opacity: 0.9;
    z-index: 105;
}

#loading-screen {
    position: absolute;
    height: 30rem;
    width: 30rem;
    background-image: url('../img/Der_Price_ist_SCHMICE_in_Wice2x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}