{% extends "base.html.twig" %}

{% block body %}
    <form class="ui form" action="{{ path('createLobby') }}">
        <div class="required field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
{% endblock %}