{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('js/lobby.js') }}"></script>
{% endblock %}

{% block body %}
    <p>{{ lobbyKey }}</p>
    <a href="{{ path('startGame') }}" class="ui button">Start Game</a>
    <div class="players">
        <p>Players:</p>

        {% for player in players %}
            <p class="player">{{ player.getname() }}</p>
        {% endfor %}
    </div>

{% endblock %}