<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Price ist Schmice{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/Der_Price_ist_SCHMICE2x.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/libs/semantic/semantic.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
            <script
                    src="{{ asset('js/libs/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('js/libs/semantic.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
