{% extends "base.html.twig" %}

{% block body %}
 <div class="ui center aligned segment">
  <h4 class="ui center aligned header" id="article_name">
   {{ article_name }}
   <br>
  </h4>

  <a href="{{ amazon_link }}" id="amazon_link" class="ui center aligned" target="_blank">
   <div id="product_image" style="background-image: url('{{ product_image }}')"></div>
  </a>

  <div id="price" class="ui button" tabindex="0">
    {{ article_price }}
  </div>

  <div id="controls" class="ui center aligned">
   <div class="ui button primary" id="reveal_button" tabindex="0">
    <i class="dollar sign icon"></i>
    betts set!
   </div>
   <div class="ui button secondary" id="new_round_button" tabindex="1">
    <i class="sync icon"></i>
    new round!
   </div>
  </div>
  <div id="backdrop">
  </div>
  <div id="loading-screen">
  </div>
 </div>
{% endblock %}