{% extends "base.html.twig" %}

{% block body %}
    <div class="ui center aligned segment">
        <h4 class="ui center aligned header" id="article_name">
            <a href="{{ path('createLobby') }}">Create a room</a>
        </h4>
        <h4 class="ui center aligned header" id="article_name">
            <a href="{{ path('enterLobby') }}">Enter a room</a>
        </h4>
    </div>
{% endblock %}